#https://stackoverflow.com/questions/28097064/dockerignore-ignore-everything-except-a-file-and-the-dockerfile

# Ignore Everything
**

!work

# make sure the price data is not included in the docker image!
work/data/*

# no temp files in the docker image!
**/__pycache__
**/*.pyc

# no checkpoints
.ipynb_checkpoints
