# Python package dependencies for the Computer Science (cs) project

# Tiny Computational Trading Agent library for algorithmic trading simulations
tinycta==0.7.20

# Convex optimization simulator for financial modeling
cvxsimulator==1.3.16

plotly==6.1.2

pandas==2.2.3

numpy>2.0

marimo>=0.13.15

# Linting and formatting
ruff>=0.11.12
